header img {
    height: 80px;
    margin-left: 40px;
}
 h1{color: rgb(0, 0, 0);
    text-align: center;
   font-size: larger;
    height: 125vh;
   
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
main {
    color: rgb(0, 0, 0);
    text-align: center;
   font-size: larger;
   
}
/*NAV BAR CSS*/
.topnav {
    background-color: white;
    position: fixed;
    transition: top 0.7s;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;

}

.topnav a {
    float: left;
    color: #ff6f61;
    margin: 2px;
    padding:10px 8px;
    text-decoration: none;
    font-size: 20px;
    transition: width 3s;
}

.topnav a:hover
{
    background-color: aliceblue;
    color: cornflowerblue;
    border-radius: 1.1em;
    transition-timing-function: ease-out;

}

/*TOP NAVBAR CSS ENDS HERE*/
header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .button {
    padding: 16px;
  }
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
/*ADDING CSS ON TEAMS DIV*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 1.1em;
}
.column {
    float: left;
    width: 23.7%;
    margin-bottom: 20px;
    padding: 0 8px;

}
.container {
    padding: 0 14px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}



.staff
{
    margin-top: 100px;
    background-color: ivory;
}
.staff h2,h3,p
{

    text-align: center;
    padding: 1em 2em;
    letter-spacing: 0.1em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

.Team_contact
{
    text-decoration: none;
    border-radius: 60px;

    font-family: "Cascadia Mono", Verdana;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    letter-spacing: 0.1em;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    --hover-shadows: 10px 10px 24px gray,
    -10px -10px 24px mintcream;
    --accent: #49d563;
}
.Team_contact:active{
    box-shadow: var(--hover-shadows),
    var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.9);
    color: #212121;
}
.Team_contact:hover
{
    box-shadow:  10px 10px 23px gray ;

    background-color: #b02b2b;

    color: #212123;
}

/*TEAM CSS END HERE*/


/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.cont{
    text-align: center;
  min-height: 100vh;
  width: 100%;
  background-image:url("https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20180226162057/iStock-637185350-1024x682.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
       text-align: center;
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px) saturate(180%); 
  -webkit-backdrop-filter:blur(16px) saturate(180%);
  background-color: rgba(11,15,13,0.582);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.125);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color:rgb(101, 148, 136);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color:rgb(101, 148, 136);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:rgb(101, 148, 136);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background:rgb(101, 148, 136);
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}




